@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.raleway-secendary {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
  .display-flex{
    display: flex;
    align-items: center;
}

.primary-color{
    color: #FEA301;
}

.secondary-color{
    color: #01ACFD;
}

.description{
    color: #808080;
    font-size: 0.9rem;
    font-weight: 500;
}

.primary-btn{
    background-color: #FEA301;
    color: #fff;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
}

.slide-btn{
    color: white;
    height: 60px;
    width: 60px;
    background-color: #FEA301;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

/* navbar styles start */
.navbar{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.brand-logo{
    width: 100%;
    height: 100%;
}

.brand-name{
    font-size: 2rem;
    font-weight: 700;
}

.nav-menu li{
    list-style: none;
    display: inline-block;
    margin-right: 32px;
}
  
.nav-menu li a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}


#home{
    font-weight: 700;
}

#about{
    color: #05D4DF;
}

#admission{
    color: #5D58EF;
}

.bar-icon{
    display: none;
    font-size: 1.5rem;

}
/* navbar styles end */



hr{
    display: none;
}



/* hero section styles start */
.hero-section{
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
}

.hero-content{
    max-width: 640px;
}

.hero-title{
    font-size: 3.5rem;
    font-weight: 700;
}

.hero-text{
    font-size: 1.25rem;
    font-weight: 400;
    margin: 24px 0;
}

.enroll-btn{
    padding: 10px 47px;
    background-color: #111;
}

.hero-image img{
    width: 100%;
}
/* hero section styles end */



/* standard curriculum section styles start */
.curriculum{
    max-width: 1160px;
    margin: 0 auto;
    background-image: url(assets/bg.png);
    background-size:  auto 100%;
}


.curriculum h2{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 80px auto;
    padding-top: 60px;
}

.curriculum-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 28px;
    margin: 80px auto;
}

.curriculum-container h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 33px auto;
}

.curriculum-item{
    padding: 52px 40px;
    border-radius: 19px;
    background-color: white;
}

.kinder{
    background-image: linear-gradient(rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
    border: 1px solid #DEF5FF;
}

.kinder-readmore{
    font-size: 0.9rem;
    font-weight: 700;
    color: #94c8ff;
}

.elementary{
    background-image: linear-gradient(rgba(255, 244, 220, 1), rgba(255, 255, 255, 0));
    border: 1px solid #FFF4DC;
}

.elementary-readmore{
    font-size: 0.9rem;
    font-weight: 700;
    color: #F0AA00;
}

.middle{
    background-image: linear-gradient(rgba(238, 225, 255, 1), rgba(255, 255, 255, 0));
    border: 1px solid #F2E8FF;
}

.middle-readmore{
    font-size: 0.9rem;
    font-weight: 700;
    color: #8700FF;
}

.arrow-btn{
    text-align: center;
}
/* standard curriculum section styles end */



/* responsive media query */
@media screen and (max-width:576px){
    body{
        margin-left: 16px;
        margin-right: 16px;
    }


    .brand-name,
    .nav-menu,
    .contact-btn{
        display: none;
    }

    .bar-icon{
        display: block;
    }


    hr{
        display: block;
        border: 1px solid #FEA301;
    }

    .hero-section{
        flex-direction: column-reverse;
    }

    .hero-content{
        text-align: center;
    }
}